
.container-fluid{
    padding-left: 48px;
    padding-right: 48px;
}

/*Banner Section*/

section{
    &.banner-sec{
        background-color: #EEEEEA;
     
     /* Add your CSS styling here */
     .carousel-item {
        display: none;
        transition: opacity 0.5s ease-in-out;
    }

    .carousel-item.active {
        display: block;
        opacity: 1;
       
    }
      
.author-sec {
    margin-top: 60px;
}
.carousel-item{
        padding-top: 48px;
    padding-bottom: 60px;
  
    

   
    .artist-side{
        margin-top: 164px;

        img{
            .artist-img{

            }
        }
    }
}
        a{
            &.spotlight{
               
                font-size: 12px;
                background-color: white;
                color: #696969;
                text-decoration: none;
                padding: 4px 11.5px;
                border-radius: 10px;
            }
            &.learn-more-btn{
                font-size: 14px;
                background-color: #303030;
                color: white;
                text-decoration: none;
                padding: 11.5px 21.5px;
                border-radius: 30px;
            }
        }
        p{
           &.artist-name{
            font-family: 'EB Garamond', serif;
            font-size: 48px;
            font-style: italic;
            margin-top:16px;
           } 
           &.artist-desc{
            margin-top: 24px;
    line-height: 24px;
    margin-bottom: 32px;
           }
        }
        .slide-btn{
        .btn-wrap{
            margin-top: 48px;
            bottom: 84px;
            position: absolute;
            margin-left: 48px;
        }}
        
           
        
               

        
            
        
    
}}
section.banner-sec .carousel-item.active {
    min-height: 763px;
}

/*Second Section*/
a{
&.follow-btn{
    text-decoration: none;
    padding: 13px 22px;
    color: #303030;
    background-color :#FFF;
    border:1px solid #CFCFCF;
    font-size: 14px;
    border-radius: 30px;   
margin-left: 60px;  

&:hover{
    background-color: #303030;
    color :#FFF; 
}
}}
section{
    &.secnd-sec{
        margin-top: 80px;
       
        p{
            &.art-txt{
                font-size: 32px;
            }
        }
        a{
            &.view-all-btn{
                font-size: 14px;
                color:#303030;
            }
        }

        .card-content{
            margin-top: 40px;
            
.card{
  
    border: 1px solid #D9D9D9;
   
    
&.card-2  {
   
    .card-body a.following-btn {
            margin-left: 18px;
        }
     
    }
    &.card-3  {
      
        .card-body a.following-btn {
                margin-left: 26px;
            }
        }
}

            .card-body{
                display: flex;
align-items: center;
padding:25px 20px;
                .artist-cont{

                    display: flex;
                    flex-direction: column;
margin-left: 12px;
                    p{
                        &.artitst-tag{
font-size: 16px;
color: #1D1D1D;
margin-bottom: 8px;
                        }
                        &.born-date{
font-size: 12px;
color:#696969;
                        }
                    }
                }
                a{
                    &.following-btn{
                        text-decoration: none;
                        padding: 13px 22px;
                        background-color: #303030;
                        color: #FFF;
                        font-size: 14px;
                        border-radius: 30px;   
                    margin-left: 60px;    

                    &:hover{
                        color: #303030;
                        background-color: #FFF; 
                        border: 1px solid #303030;
                    }
                }

                    
                }
            }
            ul{
                &.images-art{
                    display: flex;
                    li{
                        background-color: #EEEEEE;
   
    width: 101px;
    height: 112px;
    margin-right: 12px;
    margin-bottom:20px;
                        &.art-first{

margin-left:20px;
img{
    margin-top:8px;
    margin-left: 9px;
}
                        }
                        &.art-second{
                            img{
                                margin-top:8px;
                                margin-left: 33px;
                            }
                               
                        }
                        &.art-third{
                            img{
                                margin-top:8px;
                                margin-left: 9px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

/*Handpicked Section*/

section{
    &.handpick-sec{
        
        .d-flex{
            margin-top: 80px;
            align-items: center;
            margin-bottom: 40px;
          
            p{
                &.art-txt{
font-size: 32px;
color:#1D1D1D;
                
                

                    }
                   
                }
                span{
                   &.art-desc{
                    font-size: 16px;
color:#696969;
                   } 
                }
                a{
                    &.view-all-btn {
                        color:#1D1D1D;
                        font-size: 14px;
                    }
                }
            }

            p{
                &.artist-txt {
                    font-size: 25px;
                    color: #1D1D1D;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            a{
                &.view-btn{
                    border: 1px solid #CFCFCF;
    padding: 10.5px 39px;
    color: #1D1D1D;
    border-radius: 50px;
    font-size: 14px;
    background-color: #FFF;
    text-decoration: none;
                }
            }
        }
    }

/*Featured artists Section*/

section{
    &.featured-sec{

        .d-flex{
            border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15.5px;
    margin-top:80px;
    justify-content: space-between;
    align-items: center;

    .art-txt,
          .art-next {
            margin-right: 24px; 
          }
          
          .view-all-btn {
            text-align: right;
            margin-left: auto; 
          }
        }
       
          
          
          
        p{
            &.art-txt{
                font-size: 25px;
                text-decoration: underline;
                text-underline-offset: 18px;
            }
            &.art-next{
                color: #696969;
                font-size: 25px;
            }
        }
       
        a{
            &.view-all-btn{
                font-size: 14px;
                color:#303030;
            }
        }

        .card-content{
            margin-top: 40px;
            
.card{
   
    border: 1px solid #E5E5E5;
    
&.card-2  {
    .card-body a.following-btn {
            margin-left: 18px;
        }
    }
    &.card-3  {
        .card-body a.following-btn {
                margin-left: 26px;
            }
        }
}

            .card-body{
                display: flex;
align-items: center;
padding:25px 20px;
                .artist-cont{

                    display: flex;
                    flex-direction: column;
margin-left: 12px;
                    p{
                        &.artitst-tag{
font-size: 16px;
color: #1D1D1D;
margin-bottom: 8px;
                        }
                        &.born-date{
font-size: 12px;
color:#696969;
                        }
                    }
                }
                a{
                    &.following-btn{
                        text-decoration: none;
                        padding: 13px 22px;
                        background-color: #303030;
                        color: #FFF;
                        font-size: 14px;
                        border-radius: 30px;   
                    margin-left: 60px; 
                    &:hover{
                        color: #303030;
                        background-color: #FFF; 
                        border: 1px solid #303030;
                    }  
                 }
                }
            }
            ul{
                &.images-art{
                    display: flex;
                    li{
                        background-color: #EEEEEE;
   
    width: 101px;
    height: 112px;
    margin-right: 12px;
    margin-bottom:20px;
                        &.art-first{

margin-left:20px;
img{
    margin-top:8px;
    margin-left: 9px;
}
                        }
                        &.art-second{
                            img{
                                margin-top:8px;
                                margin-left: 33px;
                            }
                               
                        }
                        &.art-third{
                            img{
                                margin-top:8px;
                                margin-left: 9px;
                            }
                        }
                    }
                    
                }
            }
        }
        .card-content .card-1 .card-body a.follow-btn { 
margin-left: 80px;
        }
        .card-content .card-3 .card-body a.follow-btn { 
            margin-left: 48px;
                    }
                    .card-content .card-1 .card-body a.following-btn { 
                        margin-left: 40px;
                                }
                                .card-content-2 .card-2 .card-body a.follow-btn { 
                                    margin-left: 48px;
                                            }
                                            .card-content-2 .card-3 .card-body a.follow-btn { 
                                                margin-left: 39px;
                                                        }
    }
}

/*Trending img Section*/

section{
    &.trend-img-sec{
        margin-top: 80px;
       
        .img-sec{
           position: relative;
       
        .img-txt{
position: absolute;
top:0;
margin-top: 82px;
margin-left: 49px;
            p{
                &.txt-asign{
font-size: 36px;
color: #FFF;
margin-bottom: 24px;
                }
            }
            a{
                &.view-btn{
color:#1D1D1D;
background-color: #FFF;
font-size: 14px;
padding: 11.5px 25px;
    border-radius: 30px;
text-decoration: none;

                }
            }
        
    }
}
}}

/*KnowledgeSection*/

section{
    &.knowledge-sec{
        margin-top: 120px;
        .faq-wrapper{
           .accor-cont{
            margin-top: 80px;
           }
            .accordion-button:not(.collapsed)::after {
             
                background-image: url(../img/Vector10.svg);
                margin-top: -18px;
            }
            .accordion-button::after {
              
                background-image: url(../img/Frameplus.svg);
            }
            h2{
                &.new-title{
                font-size: 48px;
                font-weight: 400;
                color: #1D1D1D;
               
                }
            }
            .accordion-item {
               
                border-left: none;
                border-right: none;
                &:focus {
               
                    border-color:none!important;
                    box-shadow: none!important;
                }
            }
            
                        .accordion-button{
                background-color: #FFF;
                color:#1D1D1D;
                padding: 40px 0;

            }
        }
    }
}

/*request-section*/

section{
    &.request-sec{
        margin-top: 40px;
    margin-bottom: 126px;
    .d-flex{
align-items: center;
    }
        p{
            &.have-txt{
color:#696969;
font-size: 14px;
            }
        }
        a{
            &.request{
color:#303030;
font-size: 14px;
font-weight: 500;
text-underline-offset: 5px;
text-decoration: underline;
margin-left: 8px;
            }
        }
    }
}